                    </div>
                </div>
            </div>
            <div id="footer" class="text-center">
                <p class="muted credit">Made with <span class="glyphicon glyphicon-heart"></span> by <a href="http://twitter.com/jsloyer">@jsloyer</a> and <a href="http://twitter.com/jakepeyser">@jakepeyser</a>.<br>Powered by <a href="https://console.ng.bluemix.net/?cm_mmc=SampleAppLink-_-BluemixSampleApp-_-Node-_-Box" target="_blank">IBM Bluemix</a>. Check out our source code on <a href="https://github.com/IBM-Bluemix/box-watson">GitHub</a>.</p>
            </div>
        </div>
        <% if (!user) { %>
        <script>
            var searchCol = document.getElementById("search-col");
            searchCol.className += " hidden";
        </script>
        <% }%>
        <script src="/vendor/jquery/dist/jquery.min.js" type="text/javascript"> </script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"> </script>
        <script src="/vendor/d3/d3.min.js" type="text/javascript"> </script>
        <script src="/vendor/underscore/underscore-min.js" type="text/javascript"> </script>
        <script src="/vendor/angular/angular.min.js" type="text/javascript"> </script>
        <script src="/vendor/angular-socket-io/socket.min.js"></script>
        <script src="/js/app.js" type="text/javascript"> </script>
        <script src="/js/controller.js" type="text/javascript"> </script>
        <script src="/js/personality.js" type="text/javascript"> </script>
    </body>
</html>
