<!DOCTYPE html>
<html>
    <head>
        <title>Bluemix | Box | Watson</title>
        <meta name="description" content="Analyze the sentiment of documents in your Box account using Watson Personality Insights">
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/personality.css" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/images/favicon.ico">
    </head>
    <body>
    <div class="full-screen-wrapper">
        <div class="container-fluid">
            <div class="content">
                <% if (user) { %>
                <div class="jumbotron">
                    <div class="container">
                        <div class="col-md-7 column">
                        <h1>You had me at upload</h1>
                        <h3>Wouldn't it be <strong>intriguing</strong> if you could gain insight into the <strong>personality</strong> of a file's author, simply by <strong>analyzing its contents?</strong></h3>
                        </div>
                        <div class="col-md-5 column" id="search-col">
                            <div class="container">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <input id="query" name="query" type="text" placeholder="search: Filename (ex. wedding)" class="form-control" ng-model="file" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            <div class="container" ng-controller="FilesController">
