<!DOCTYPE html>
<html>
  <head>
    <title>Bluemix | Box | Watson</title>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

  <div class="full-screen-wrapper">  </div>
    <div class="container-fluid">
        <div class="row">
            <div class="content">
              <div class="jumbotron">
                <div class="container">
                    <div class="col-md-7 column">
                    <h1>You had me at upload</h1>
                    <h2>With <span class="glyphicon glyphicon-heart"></span> -- Bluemix + Box + Watson</h2>
                    </div>
                    <div class="col-md-5 column" id="search-col">
                        <div class="container">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <input id="query" name="query" type="text" placeholder="search: Filename (ex. wedding)" class="form-control" ng-model="file" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" ng-controller="FilesController">
