<%- include header.ejs %>
<% if (!user) { %>
    <h3>Wouldn't it be <strong>intriguing</strong> if you could gain insight into the <strong>personality</strong> of a file's author, simply by <strong>analyzing the text</strong> of the file?</h3>
    <h3>Using <strong>Bluemix</strong>, <strong>Box</strong>, and <strong>Watson</strong> we are able to do just that! <a href="/auth/box">Log In</a> with your Box account to try it out for yourself!</h3>
    <p>
    <a href="/">Home</a> |
    <a href="/auth/box">Log In</a>
    </p>
<% } else { %>
    <h2>Hello, <%= user.name %>.</h2>
    <hr />
    <h3>Below are the txt files in your Box account</h3>
    <h5>Watson will analyze these files and determine the authors' unique personality traits based on the text. To learn more about how this works, check out the <a href="https://watson-pi-demo.mybluemix.net/">Watson Personality Insights</a> service.</h5>
    <hr />
    <h3>Select a file below to have Watson break down its author's personality</h3>
    <hr />

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-repeat="rows in chunkedData">
  <div class="panel panel-default" ng-repeat="file in rows">
    <div class="panel-heading" role="tab" id="heading-{{ file.id }}">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ file.id }}" aria-expanded="false" aria-controls="collapse-{{ file.id }}" ng-click="getPersonality()">
          {{ file.name }}
        </a>
      </h4>
      <p>{{file.description}}</p>
    </div>
    <div id="collapse-{{ file.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ file.id }}">
      <div class="panel-body traits">
        <div ng-if="file.personality">
            <ul>
                <li ng-repeat="trait in file.personality.tree.children[0].children[0].children">
                    {{ trait.name }}: {{ trait.percentage | percentage:2 }}
                    <div class="progress">
                      <div class="bar" style="width: {{ trait.percentage | percentage:2 }}; height: 100%; background-color: #0abeef;"></div>
                    </div>
                </li>
            </ul>
            <button class="btn btn-default">Full Personality Graph</button>
        </div>
        <div ng-if="!file.personality">
            Loading...
        </div>
      </div>
    </div>
  </div>
</div>


    <p>
    <a href="/">Home</a> |
    <a href="/account">Account</a> |
    <a href="/logout">Log Out</a>
    </p>
<% } %>
<%- include footer.ejs %>
